version: '3.8'
services:
  db:
    image: postgres:15
    container_name: cyberclub_db
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: root
      POSTGRES_DB: cyberclub
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:
